.App {
  text-align: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: repeat(2, 50vh);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
}

